.nav-item {
    font-size: 16px;
    height: 70px;
}

    .nav-item ::deep a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 0px;
        text-decoration: none;
    }

        .nav-item ::deep a:hover {
            color: white;
            background-color: #3BCF86;
        }
